{% extends 'bikeloc/produit.html.twig' %}

{% block body %}
<div class="simple-page ftco-degree-bg"></div>
<section class="ftco-section ftco-no-pt bg-light">
    <div class="container">
        <div class="row">
            <div class="col-12 erudit-card">
                <div class="row">
                    <p class="col-9 erudit-p-0">«Piaggio Medley 125cc – Design Sportif et performante» a été ajouté à
                        votre panier.
                    </p>
                    <a href="/" class="col-mx-3">
                        <h3 class="pricing-erudit-card">Poursuivre Les Achats</h3>
                    </a>
                </div>
            </div>
            <div class="col-12 erudit-space"></div>
            <h1 class="col-12 pricing-erudit d-flex justify-content-center">Votre commande</h1>
            <div class="col-12 erudit-space"></div>
            <div class="col-12">
                <div class="row">
                    <h6 class="col-1 erudit-titre-h6">Produit</h6>
                    <div class="col-8"></div>
                    <h6 class="col-1 erudit-titre-h6">Prix</h6>
                    <h6 class="col-1 erudit-titre-h6">Total</h6>
                    <div class="col-12 erudit-ligne"></div>
                    <div class="col-12 erudit-space-25"></div>
                    <img class="col-2 img-erudit"
                        src="https://bikeloc.fr/wp-content/uploads/2021/01/new-medley-125-s-3-800x600.jpg" alt="">
                    <div class="col-7">
                        <div class="row">
                            <h6 class="col-12 erudit-titre-h6">Piaggio Medley 125cc - Design Sportif et performante</h6>
                            <h6 class="col-12">Départ de la location: Agence Gare de Lyon</h6>
                            <h6 class="col-12">Retour de la location: Agence Gare de Lyon</h6>
                            <h6 class="col-12">Ressources: Accessoires inclus ( Casque, Gants, Antivol) ( 0,00 € - Par
                                jour ) ,</h6>
                            <h6 class="col-12">Date & heure de la prise en charge: 26/01/2021 à 10:00</h6>
                            <h6 class="col-12">Date & heure de retour: 26/01/2021 à 10:30</h6>
                            <h6 class="col-12">Choix de l'inventaire: Medley Piaggio 125</h6>
                            <h6 class="col-12">Nombre de jours: 1</h6>
                        </div>
                    </div>
                    <h6 class="col-1 erudit-titre-h6">39,00 €</h6>
                    <h6 class="col-1 erudit-titre-h6">39,00 €</h6>
                    <svg class="col-1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </div>
            </div>
            <div class="col-12 erudit-space-25"></div>
            <div class="col-12 erudit-ligne"></div>
            <div class="col-12 erudit-space-25"></div>
            <button class="col-2 erudit-simple-button">Vider le panier</button>
            <div class="col-1"></div>
            <button class="col-3 erudit-simple-button">Mettre à jour votre commande</button>
            <div class="col-3"></div>
            <button class="col-3 erudit-simple-button">Continuer votre shopping</button>
            <div class="col-12 erudit-space"></div>
            <div class="col-2">
                <div class="row">
                    <h6 class="col-12 erudit-titre-h6">Coupon promotionnel</h6>
                    <div class="col-12 erudit-space-25"></div>
                    <div class="col-12 erudit-ligne"></div>
                    <div class="col-12 erudit-space-25"></div>
                    <input type="text" class="col-12">
                    <div class="col-12 erudit-space-25"></div>
                    <div class="col-5"></div>
                    <button class="col-7 erudit-simple-button">Appliquer</button>
                </div>
            </div>
            <div class="col-7">

            </div>
            <div class="col-3">
                <div class="row">
                    <div class="col-12 erudit-card-mini">
                        <div class="row">
                            <h6 class="col-12 pricing-erudit-card d-flex justify-content-center">Total panier</h6>
                            <div class="col-12 erudit-space-25"></div>
                            <p class="col-8 erudit-p-0">Sous-total</p>
                            <h6 class="col-4">108,00 €</h6>
                            <div class="col-12 erudit-space-25"></div>
                            <p class="col-8 erudit-p-0 erudit-titre-h6">Total</p>
                            <h6 class="col-4 erudit-titre-h6">108,00 €</h6>
                            <div class="col-12 erudit-space-25"></div>
                            <button class="col-12 d-flex justify-content-center erudit-simple-button">Valider la commande</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}