{% extends "bikeloc/Vehicules.html.twig"%}
{% block cssSpe %}
    <link rel="stylesheet" href="{{ asset('/assets/css/p-services.css') }}">
{% endblock %}
{% block backgroundName1 %}Location de 2 à 24 mois{% endblock %} 
{% block backgroundName2 %}Location de 2 à 24 mois{% endblock %}
{% block body %}
    <section class="ftco-section bg-light">>
        <div class="container">
            <div class="row" >
                <div class="col-5">
                    <div>
                        <div>Des locations allant de 2 à 24 mois</div>
                        <br/>
                        <div>Bikeloc répond aux besoins de ses consommateurs B2C et B2B au quotidien avec des locations de courtes durées allant de 1 à 28 jours.</div>
                        <br/>
                        <div>
                            Car la conduite d’un deux roues est une véritable expérience qui change votre quotidien, nous vous proposons également d’avoir accès à notre flotte via 2 autres types de contrats :
                        </div>
                    </div>
                    <div>
                        <p>→ La Location de Moyenne Durée (2 à 6 mois)</p>
                        <P>→ La Location de Longue Durée (7 à 24 mois)</P>
                    </div>

                    <div>
                        <p>Demande d’informations </p>
                        <p>lease@bikeloc.fr.<p>
                        <p> Voir Conditions Générales de Location</p>
                    </div>
                </div>
                <div class="col-7">
                    <div>
                        <p>La location de Moyenne Durée (LMD)</p>
                        <div>
                            La location scooter moyenne durée est comprise entre 2 et 6 mois. Celle-ci est donc destinée aux particuliers et aux professionnels, même sans conditions de revenus.
                        </div>
                    </div>

                    <div>
                        <p>Qu’est ce que la Location Moyenne Durée ?</p>
                        <div>
                            Nous sommes donc continuellement à la recherche de solutions innovantes et que la satisfaction de vos besoins est notre priorité, Bikeloc vous propose un service de Location Moyenne Durée.
                        </div>
                    </div>
                    <div>
                        <p>Qu’est ce que c’est?</p>
                        <ul class="list-group">
                            <li class="">Un service accessible aux particuliers et aux professionnels sans conditions de revenus.</li>
                            <li class="">L’opportunité de souscrire à un contrat de location pour une durée comprise entre 2 à 6 mois.</li>
                            <li class="">Un tarif préférentiel et avantageux, dégressif selon la durée déterminée de votre location.</li>
                            <li class="">Des services compris dans le tarif de votre location : assurance tout risque, entretien du véhicule, etc.</li>
                        </ul>
                    </div>
                    <div>
                        <p>Les services compris dans la LMD et fournis par Bikeloc</p>
                        <ul class="list-group">
                            <li class="">Des véhicules récents</li>
                            <p>Bikeloc met à votre disposition des scooters et motos récents. Notre flotte est composée de derniers modèles (2019) conçus par les plus grands constructeurs.</p>
                            <li class="">Un entretien de votre véhicule à notre charge :</li>
                            <li class="">Une assurance tout risque*.</li>
                            <li class="">Un service de dépannage et de remorquage 7/7 et 24/24.</li>
                            <li class="">La mise à disposition possible d’un véhicule de remplacement en cas de problème.</li>
                            <li class="">Des accessoires fournis : casque, gants, antivol, jupe de protection, etc.</li>
                        </ul>
                    </div>

                    <div>
                        <p>A qui s’adresse l’offre de Location Moyenne durée ?</p>

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}